.app-table-admin-container {
  .table-container {
    font-size: 15px;
    width: 1136px;
    .header {
      .header-search {
        .search-client {
          span {
            color: var(--color-azulCompas);
          }
          input {
            &::placeholder {
              font-style: italic;
            }
            &:focus {
              outline: none;
            }
          }
        }
        select {
          color: var(--color-azulCompas);
        }
      }
      button {
        box-shadow: -2px 2px 10px rgba(181, 181, 181, 0.5);
        color: var(--color-azulLinks);
      }
    }

    .table-beneficiaries {
      .table {
        thead {
          color: var(--color-azulCompas);
          font-weight: 500;
          th {
            padding: 20px 0;
            border-bottom: 1px solid black;
          }
        }
        tbody {
          tr {
            td {
              p {
                margin: 0;
              }
              .about-to-expire {
                background: rgba(239, 207, 95, 0.8);
                border-radius: 20px;
              }
              .updated {
                background: rgba(172, 230, 152, 0.8);
                border-radius: 20px;
              }
              .expired {
                background: rgba(255, 113, 113, 0.74);
                border-radius: 20px;
              }
              .notified {
                background: rgba(112, 180, 244, 0.8);
                border-radius: 20px;
              }
              .need-sign {
                background: rgba(239, 155, 95, 0.8);
                border-radius: 20px;
              }
            }
          }
        }
      }
    }
  }
}
