/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100vh;
  background-color: #f1f3f5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

// variables

:root {
  /* Azul Compass */
  --color-azulCompas: #002fa7;
  /* Azul links */
  --color-azulLinks: #0d61e7;
}
